/*body{
    background-color: rgba(211, 233, 255, 1);
    display: flex;
    height: 100vh; /* Preenche a altura total da viewport 
    margin: 0; /* Remove a margem padrão 
    padding: 0; /* Remove o padding padrão 
}

.login{
    background-color: rgba(0, 118, 129, 0.34);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15px;
    width: 600px;
    display: flex; /* Usa Flexbox para layout 
    flex-direction: column; /* Alinha os itens na vertical 
    align-items: center; /* Centraliza os itens horizontalmente 
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção 
}

.campo-login{
    background-color: rgba(0, 118, 129, 1);
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    display: flex;
    margin-top: -20px;
    font-family: serif;
    color: white;
}

.botao-entrar{
    border: none;
    padding: 15px;
    background-color: rgb(2, 15, 26);
    width: 50%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    display: flex;
    margin-top: 0px;

}

.botao-entrar:hover{
    background-color: rgba(0, 118, 129, 0.34);
    cursor: pointer;
}

.botao-criar-conta{

}

.botao-criar-conta:hover{
    color: brown;
    cursor: pointer;
}

.logo-login{
    position: absolute;
    width: 330px;
    left: 50%;
    transform: translate(-50%, -7%);
}

.botao-facebook{
    position: absolute;
    width: 50px;
    top: 110%;
    left: 45%;
    transform: translate(-50%, -7%);
}
.botao-google{
    position: absolute;
    width: 50px;
    left: 55%;
    top: 110%;
    border-radius: 100px
    transform: translate(-50%, -7%);
}

footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé 
    color: #45474B; /* Cor do texto 
    text-align: center; /* Alinha o texto ao centro 
    padding: 0; /* Espaçamento interno 
    width: 100%; /* Largura total da página 
    position: absolute; /* Posiciona o rodapé 
    height: 50px;
    bottom: 0; /* Alinha ao fundo da página 
    font-size: 1rem; /* Tamanho da fonte 
    top: 120%;
}
*/
@font-face {
    font-family: 'inria-serif';
    src: url(../fonts/InriaSerif-Regular.ttf);
}

body{
    background-color: rgba(211, 233, 255, 1);
    
}

.div-logo-login{
    height: 100%;
}

.logo-login{
    position:relative;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -7%);
}

.login{
    height: 700px;
}

.div-login{
    background-color: rgba(0, 118, 129, 0.34);
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    border-radius: 15px;
    width: 70%;
    height: 650px;
    max-height: 95vw;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.campo-login{
    width: 100%;
    padding: 5%;
    font-family: inria-serif;
    font-size: 120%;
    font-weight: 500;
    margin-top: -10%;
    margin-bottom: 10%;
}

.recuperar-senha{
    margin-top: -13%;
    color: rgba(2, 98, 107);
    font-family: inria-serif;
}

.recuperar-senha:hover{
    cursor: pointer;
    color: rgba(16, 24, 32, 1);
}

.facebook:hover{
cursor: pointer;
color: rgba(0, 118, 129, 1);
}

.google:hover{
    cursor: pointer;
    color: rgba(0, 118, 129, 1);
}
.google{
    margin-top: 20px;
    margin-left: 20px;
    color: rgba(16, 24, 32, 1);
}

.facebook{
    margin-top: 20px;
    color: rgba(16, 24, 32, 1);
}

button{
    width: 180px;  
    margin-top: 50px;
}

.criar-conta{
    margin-top: -14%;
    color: rgb(2, 98, 107);
    font-family: inria-serif;
}

.criar-conta:hover{
    cursor: pointer;
    color: rgba(16, 24, 32, 1);
}